body {
    font-family: Times New Roman, serif;
    margin: 0;
    padding: 20px;
    background-color: #ffffff;
    color: #000000;
}

.cabecalho {
    background-color: #800080;
    color: #ffffff;
    padding: 10px;
    max-width: 600px;
    margin: 0 auto;
    text-align: center;
}

.cabecalho h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 2.5rem;
}

.cabecalho p {
    font-size: 1.2rem;
    margin-bottom: 0;
}

.conteudo {
    max-width: 600px;
    margin: 30px auto;
}

.conteudo h2 {
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.conteudo h3 {
    font-size: 1.6rem;
    margin-top: 30px;
    margin-bottom: 10px;
}

.autor {
    font-size: 1.3rem;
    margin-bottom: 20px;
}

.texto-post {
    font-size: 1.3rem;
    line-height: 1.3;
}